pre.online {
    background-color: white !important;
    color: black !important;
    font-style: bold;
}


.question {
    box-shadow: 0 0 20px 5px rgb(255, 0, 0, .8);
}
.rbshadow {
    box-shadow: 0 0 2px 2px red;
    max-width: fit-content;
}
.rbshadow:focus{
    color: red !important;
    box-shadow:0 0 3px 3px red !important;
}
.b { color: blue}
.g { color: green}
.gr { color: goldenrod}
.m { color: magenta}
.mdblue,
.md-blue { 
    color: rgb(0,180,240);
    font-weight: 900 !important;
}
.r { color:red}

.rbshadow:active,.rbshadow:focus{
        box-shadow: 2px 0 10px 4px blue !important;
}