.sm-txt {font-size: 60%;}
.md-txt {font-size: 80%;}
.lg-txt {font-size: 105%;}
.xlg-txt {font-size: 125%;}
.xmdlg-txt {font-size: 135%;}
.xxlg-txt {font-size: 225%;}



.sm-code {font-size: 65% !important;}
.smmd-code {font-size: 75% !important;}