.background-change {
    background-color: lightgray;
}
:root {
    --img-scale: 1.9;
}
.animate {
    position: relative;
    margin-right: 50%;
    transform: scale(3.05);
    transition: all 1.3s;
    z-index: 1;
}
.lg-animate {
    position: relative;
    margin-right: 50%;
    transform: scale(20.05);
    height: 50vh !important;
    width: 75vh !important;
    transition: all 1.3s;
    z-index: 1;
}
.xlg-enlarge {
    position: relative;
    margin-right: 50%;
    transform: scale(25.05) !important;
    border: 20px solid red;
    height: 60vh !important;
    width: 75vh !important;
    transition: all 1.3s;
    z-index: 1;
}
.deanimate {
    position: static;
    margin-right: 0;
    transform: scale(1);
    transition: all 1.3s;
    z-index: 0;
}

.enlarge {
    position: relative;
    margin-right: 50%;
    transform: scale(1.75);
    transition: all .3s;
    z-index: 1;
}
.l-enlarge {
    position: relative;
    /* margin-left: 50%; */
    transform: scale(var(--img-scale));
    left: 20%;
    transition: all .3s;
    z-index: 1;
}
.r-enlarge {
    position: relative;
    transform: scale(var(--img-scale));
    right: 20%;
    transition: all .3s;
    z-index: 1;
}
.denlarge {
    position: static;
    margin-right: 0;
    transform: scale(1);
    transition: all .3s;
    z-index: 0;
}