* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
:root{
    --topic-min-height: 50px;
    --topic-max-img: 50px;
}
body >header {
    /* font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; */
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    padding-top: .5%;
}
header>h1 {
    font-size: 1.2rem;
    padding-left: 2.5%;
    flex-basis: 20%;
    /* border: 1px solid orange; */
}
body>header>nav {
    border-top: 1px solid blue;
    flex-basis: 80%;
}
body>header>nav>ul {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    /* border: 1px dashed blue; */
}

body>header>nav>ul>li {
    flex-basis: 15%;
    display: flex; 
    align-items: center;
    flex-direction: column;   
    /* margin: 0 8%; */
}
body>header>nav>ul>li>a{
    text-decoration: none;
    color: blue;
    text-shadow: 20 orangered; ;
    display: inline-block;    
    padding: 1% 12.5%;
    margin: 0 2.5%;
    padding-bottom: 5%;
}
.selectedPage {
    opacity: .4;
    /* border: 1px solid black; */
}
#websitesAndAppsHome {
    white-space: nowrap;
}
body>header>nav>ul>li> sup {
    /* justify-self: flex-start; */
    /* display: flex; */
    /* justify-content: center; */
}
body>header>nav>ul>li>a:active,
header>nav>ul>li>a:focus {
    box-shadow: 0 0 2px 2px blue !important;
}

main {
    margin: 0 2.5%;
    /* padding: 0 2.5%; */
    /* padding-top: 1%; */
    /* border: 5px dashed orange; */
    /* background-color: orange; */
    background-image: url('../images/airplanSpaceSun.jpg');
    background-size: 95%;
    background-position-y: 30%;
    background-repeat: no-repeat;
    background-position-x: center;
    transition: background-image 5000s ease-in-out;
    height: 100vh;
}
article>ul{
    margin-top: 2%;
}
article>ul>li {
    margin: 1% 0;
    margin-left: 7.5%;
}
.flex-2-2 > article,
article {
    border-radius: 10px;
    padding: 0 2.5%;
    padding-top: 1%;
    margin: 0 auto;
    width: 100%;
    /* opacity: .9; */
    color: whitesmoke;
    font-weight: 1000;
    font-size: bold;
}
article > p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
article.description-txt {
    width: 100%;
    margin-bottom: 2.5%;
}
.specialty-txt {
    flex-basis: 100% !important;
    display: flex;
    flex-direction: column;
}
.specialty-txt > .shortcuts-ul {
    width: 100%;
    display: flex;
}
.shortcuts-ul > li{
    white-space: nowrap;
}
.pages-container {
    display: flex;
    flex-direction: column;
}
.page {
    margin-top: 1%;
}
.page > h2 {
    background-color: white;
    margin-left: 2.5%;
    border-radius: 10px;
    padding: .25% 2.5%;
    display: inline-block;
    margin-bottom: 1%;
}
.topics-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    align-items: center;
}
.topics-container > h3{
    font-size: .9rem;
    flex-basis: 12%;
    background-color: whitesmoke;
}
a.topic {
    display: flex;
    justify-content: center;
    flex-direction: column-reverse;
    border-radius: 20px;
    text-decoration: none;
    width: 100%;
    height: 100%;
    background-color: whitesmoke;
    flex-basis: 15%;
    border-radius: 5px;
    min-height: var(--topic-min-height);
}
.topic>img {
    justify-self: center;
    align-self: center;
    min-width: 80px;
    max-width: var(--topic-max-img);
    max-height: var(--topic-max-img);
    margin: 0 2%;
}
.topic:active,.topic:focus {
    box-shadow: 0 0 6px 6px yellow;
    transform: scale(1.12);
    transition: all 250ms;
    border: 2px solid blue;
}

#websitesAndApps > h2{
    white-space: nowrap;
}
#websitesAndApps > .topics-container{
    flex-wrap: nowrap;
    margin-top: 5%;
}
#templates {
    /* display: flex; */
}
#templates > h2{
    display: inline-block;
    max-height: 40px;
}
#templates > .topics-container {
    justify-self: flex-start;
}
#sql {
    display: flex;
}

footer{
    margin-top: 5%;
}
#contactDetails {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 850px) {
    body> header > h1 {
        /* display:  */
    }
}
@media screen and (max-width: 600px){
    
    header >h1{display: none;}   
    
    body>header>nav>ul>li sup {
        display: none;
    }
    main {
        margin-top: 0;
    }
    .article-container {
        margin-bottom: -7%;
    }
    .description-txt>p{
        /* color: white !important; */
    }
    .description-txt > p{
        font-size: 150%;
        /* color: black; */
    }
    .specialty-txt{
        margin-top: 0;
        font-size: 80%;
    }
    #websitesAndApps,
    #websitesAndApps > .topics-container{
        padding:0;
        margin: 0;
        margin-bottom: 0%;
        order:3;
    }
    
    .page {
        padding-top: 0;
        margin-top: 2.5%;
    }

    .page > h2,
    .topic>h3>a {
        font-size: 90%;
    }
    .topics-container {
        justify-content: flex-start;
        gap: 1rem;
        margin: 0;

    }
    
    .topic > img{
        height: 50% !important;
    }
    .flex-2-2 {
        flex-direction: column;
        margin-bottom: 10%;
    }
    
    
    footer {
        background-image: url('/images/DimLitMoutainSun.jpg');
        background-size: 95%;
        background-position-y: 30%;
        background-repeat: no-repeat;
        background-position-x: center;
        height: 100vmax;
        margin-top: 0;
    }
        /* a.topic {
            min-height: 50px !important;
        } */
                body>header>nav {
                    flex-basis: 100%;
                }
        
                body>header>nav>ul>li {
                    font-size: 60%;
                    flex-basis: 15%;
                    display: inline-block flex;
                    flex-direction: column;
                    /* margin: 0 8%; */
                }
}