* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.animate {transform: scale(1.2); transition: all 1000;}
main {
    display: flex;
    flex-direction: column;
}
.canvas-code-container {
    display: flex;

}
.canvas-code-container > canvas{
    flex-basis: 45%;
    border: 1px solid blue
}
.canvas-code-container > #segments-pre-section{
    flex-basis: 50%;
    min-width: 50vw;
    border: 1px solid blue;
    max-height: 900px;
    overflow: hidden;
    overflow-y: scroll;
    background-color: lightgoldenrodyellow;
}
.canvas-code-container > #segments-pre-section > .segment{
    display: flex;
    flex-direction: column;
}
#segCode:active,#segCode:focus,#segCode:hover {
    border: 3px solid red;
    min-height: 400px;

}

canvas {
    border: 1px solid black;
    width: 50%;
    height: 80vh;
}
pre.copy-code {
    font-size: 1.05rem;
}
.hide {
    display: none;
}