* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --asideMaxWith: 15vw;
}
body {
}
header {
    margin: 0 1%;
    display: flex;
    margin-top: 1%;
    /* justify-content: space-around; */
    gap: 15%;
    padding-left: 5%;
}
header > .page-logo > img {
    max-height: 120px;
}
main {
    display: flex;
    flex-direction: column;
}
.nav-main{
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: white;
    border-top: 1px solid blue;
    border-bottom: 1px solid blue;
    padding: .75%
}
.main-container {
    display: flex;
    margin: 0 .75%;
}


#homelink:active,#homelink:focus,
#navMain:active,#navMain:focus,
#asideMain:focus,
#targetDivContainer:active{
    box-shadow: 2px 0 8px 6px orange;
}
#mainTargetDivContainer:focus
{
    position: relative;
    z-index: 1;
    box-shadow: 2px 1px 8px 6px orange;
}

.hide {display: none !important;}
.show {display: inline-block;}

.hide-aside {
    width: 0 !important;
    opacity: 0;
    transition: width 350ms;
}
.show-aside {
    width: var(--asideMaxWith);
    opacity: 1;
    transition: all 500ms;
}
.main-container> .aside-main {
    border: 2px dashed black;
    width: var(--asideMaxWith);
    display: flex;
    flex-direction: column;
    padding-top: .85%;
    padding-left: .5%;
}
.aside-main > section > ul{
    /* background-color: lightblue; */
    /* margin-left: 100%; */
}
.aside-main > section > ul {
    margin-left: 5%;
    list-style: none;
}

.aside-main > section ul li a{
    text-decoration: none;
}
.aside-main > section > ul > li > ul{
    margin-left: 15%;
    text-wrap: nowrap;
    list-style: square
}

.section {
    margin: 1% 0;
    margin-left: 2.5%;
}

.main-container>.target-div-container {
    border: 2px solid black;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

@media screen and (max-width:900px) {
    .aside-main section  {
        font-size: 80% !important;
    }
    .aside-main > section > ul   {
        font-size: 90% !important;
    }
    
}