<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>chatGptQuestAnswerDrop</title>
    <!-- <link rel="stylesheet" href="../../../css/imgAnimate-v2.css"> -->
    <link rel="stylesheet" href="../../../css/colors.css">
    <!-- <link rel="stylesheet" href="../../../../css/copycode.css"> -->
    <link rel="stylesheet" href="../../../css/font-sizes.css">
    <link rel="stylesheet" href="../../../css/resource-header-temp.css">
    <script src="../../../js/copycode.js" defer></script>

    <!-- // These css and scripts below are unique to this page     -->
    <link rel="stylesheet" href="css/steps-main-temp.css">
    <link rel="stylesheet" href="css/chatGpt-questions-temp.css" />

    <script src="js/partStepQuestionFocus.js" defer></script>
    <script src="js/chatGpt-drop-questions-temp.js" defer></script>
</head>
<body>
    <header>
        <a tabindex="1" id="homelink" href="../basicPages-templates.htm">&larr;home-documentation</a>
        <div class="page-title">
            <h1>chatgpt question/answer drop downs - Documentation</h1>
        </div>
        <div class="page-logo">
        </div>
    </header>
    <main>
        <h2><a tabindex="1" id="shortcuts" href="#">Section</a>
        <br><span class="r">Replace this page with medentSteps-project css on Desktop</span></h2>
        <!-- Part 1 -  -->
        <div class="part">
            <a id="part01" id="settings" tabindex="1" href="#" class="dropPart">
                <h3>Part 1 - Settings </h3>
            </a>
            <div class="steps-container ">
                <!-- 01-01-01 -->
                <div class="chatgpt-question-container ">
                    <div autofocus tabindex="1" class="rbshadow chatgpt-question step-txt">
                        <h4>01</h4>
                        <div class="ts-icon-container">
                            <img class="fi logo" src="../../../images/ts-icon.png" alt="">
                        </div>
                        <div class="chatgpt-question-txt">
                            <h5 class="the-chatgpt-question lg-txt"><strong>question:</strong>
                                <span class="copy-code">Place Question here when clicked it will show the answer</span>
                                Use the num keys 1 - 9 to focus to steps of question when question is in focus
                            </h5>
                        </div>
                        <img class="question-img" src="imagesVideos/01-01-00-question.png">
                    </div>
                    <div class="answer ">
                        <div class="logo-icon-container">
                            <img class="fi logo" src="../../../images/logo-icon.png">
                        </div>
                        <div class="answer-txt">
                            <!-- 01-01-01 -->
                            <div class="step">
                                <div class="step-txt">
                                    <h4>01</h4>
                                    <p>
                                        step 1 txt from chat gpt
                                    </p>
                                    <p>
                                        <strong>Open settings.json:</strong>
                                    </p>
                                    <ul>
                                        <li>Press Ctrl + , to open the Settings.</li>
                                        <li>Click on the "Open Settings (JSON)" icon in the top-right corner.</li>
                                    </ul>
                                </div>
                                <div class="step-vid">
                                    <video src="imagesVideos/01-01-01.mov"></video>
                                </div>

                            </div>
                            <!-- 01-01-02 -->
                            <div class="step">
                                <div class="step-txt">
                                    <h4>02</h4>
                                    <p>
                                        <strong>Another step:</strong>
                                    </p>
                                    <ul>
                                        <li>Second step if one</li>
                                    </ul>
                                </div>
                                <div class="step-img">
                                    <img src="imagesVideos/">
                                </div>
                            </div>
                            <!-- 01-01-02b -->
                            <div class="step">
                                <div class="code-container">
                                    <pre tabindex="1" class="copy-code ">
example code from question 
if any 
Lorem ipsum dolor sit amet
 consectetur adipisicing elit.
                                    </pre>
                                </div>
                                <div class="step-img">
                                    <img src="imagesVideos/">
                                </div>
                            </div>
                            <!-- 01-01-03 -->
                            <div class="step-col">
                                <div tabindex="1" class="step-txt">
                                    <h4>03</h4>
                                    <p>
                                        3. <strong>Save and Restart:</strong>
                                        Save the settings.json file.
                                        Close and reopen Visual Studio Code.
                                    </p>
                                </div>

                            </div>
                            <!-- 01-01-04 -->
                            <div class="step-col">
                                <div tabindex="1" class="step-txt">
                                    <h4>04</h4>
                                    <p>
                                        Now, when you open the terminal using ⌘ + J (Command + J), the debug console
                                        should remain closed by default. You can
                                        manually open it when needed during debugging. Adjust the settings as necessary
                                        based on your preferences.

                                    </p>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>
                <!-- 01-02 -->
                <div class="chatgpt-question-container step-txt">
                    <div class="chatgpt-question step-txt">
                        <h4>02</h4>
                        <div class="ts-icon-container">
                            <img class="fi logo" src="../../../images/ts-icon.png" alt="">
                        </div>
                        <div class="chatgpt-question-txt">
                            <h5 class="the-chatgpt-question lg-txt"><strong>question:</strong>
                                <span class="copy-code">TBD</span>
                            </h5>
                        </div>
                    </div>
                    <div class="answer">
                        <div class="logo-icon-container">
                            <img class="fi logo" src="../../../images/logo-icon.png">
                        </div>
                        <div class="answer-txt">
                            <p>
                                WE will see
                            </p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="part">
            <a tabindex="1" href="#" class="dropPart">
                <h3>Part 2</h3>
            </a>
            <div class="steps-container">
                <div class="chatgpt-question-container ">
                    <div tabindex="1" class="chatgpt-question step-txt">
                        <h4>01</h4>
                        <div class="ts-icon-container">
                            <img class="fi logo" src="../../../images/ts-icon.png" alt="">
                        </div>
                        <div class="chatgpt-question-txt">
                            <h5 class="the-chatgpt-question lg-txt"><strong>question:</strong>
                                <span class="copy-code">TBD</span>
                            </h5>
                        </div>
                    </div>
                    <div class="answer">
                        <div class="logo-icon-container">
                            <img class="fi logo" src="../../../images/logo-icon.png">
                        </div>
                        <div class="answer-txt">
                            <p>

                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

</body>