.smtxt,.sm-txt {font-size: 60% !important;}
.mdtxt,.md-txt {font-size: 80% !important;}
.mdlgtxt,.mdlg-txt {font-size: 90% !important;}
.lgtxt,.lg-txt {font-size: 125% !important;}
.xlgtxt,.xlg-txt {font-size: 150% !important;}
.xmlgtxt,.xmdlg-txt {font-size: 160% !important;}
.xxlgtxt,.xxlg-txt {font-size: 200% !important;}

.smcode,.sm-code {font-size: 60% !important;}
.mdcode,.md-code {font-size: 80% !important;}
.mdlgcode,.mdlg-code {font-size: 80% !important;}
.lgcode,.lg-code {font-size: 125% !important;}
.xlgcode,.xlg-code {font-size: 150% !important;}
.xmlgcode,.xmdlg-code {font-size: 135% !important;}
.xxlgcode,.xxlg-code {font-size: 225% !important;}



.sm-code {font-size: 65% !important;}
.smmd-code {font-size: 75% !important;}