* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0;
    padding: 0;
}
.steps-container {
    display: flex;
    flex-direction: column;
    border: 1px solid blue;
}

.steps-container>.step {
    /* border: 1px solid blue; */
    display: flex;
    justify-self: space-around;
}

.steps-container>.step>.step-txt {
    flex-basis: 50%;
    max-width: 50%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: flex;
    flex-direction: column;
}

.steps-container>.step>.step-txt>h3 {
    align-self: flex-start;
    justify-self: flex-start;
    border: 3px solid red;
}

.steps-container>.step>.step-txt,
.steps-container>.step>.step-img,
.steps-container>.step>.step-vid {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1% 2.5%;
    margin: 1% 2.5%;
    flex-basis: 50%;
    border: 1px solid orange;
}

.part>.steps-container>.step>.step-img>img {
    border: 1px solid black;
}
.part>.steps-container>.step>.step-vid>video {
    border: 3px solid black;
}

.steps-container>.step>.step-vid>video,
.steps-container>.step>.step-img>img {
    width: 100%;
    /* max-width: 500px;
    max-height: 490px; */
}
.step-txt .code-container{
    max-width: 550px;
    width: 98%;
    margin-right: 2.5%;
    max-height: 500px;
    /* border: ; */
}
.code-container > .copy-code {
    font-size: .8rem;
}

.steps-container>.step-col {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1% 0;
}

.step-col>.step-txt {
    border: 1px solid black;
    padding: 1.5%;
    margin: 1.5% 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img-2-container {
    display: flex;
    /* padding-left: 5%; */
    justify-content: center;
}

.img-2-container>.step-img>img {
    width: 80%;
}

.part {
    /* border: 1px solid black; */
    margin: 2% 2.5%;
    display: flex;
    flex-direction: column;
}


.steps-container>.step-col>.step-img>img {
    max-width: 350px;
    /* border: ; */
}

.steps-container>.step-col {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1% 0;
}

.step-col>.step-txt {
    border: 1px solid black;
    padding: 1.5%;
    margin: 1.5% 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img-2-container {
    display: flex;
    /* padding-left: 5%; */
    justify-content: center;
}

.img-2-container>.step-img>img {
    width: 80%;
}
.step-img > img {
}



img:active,img:focus,
img:hover,
.step-txt:active,.step-txt:focus,
.step-txt:hover,
.question-txt:active,.question-txt:focus,
.question-txt:hover,
.dropPart:active,.dropPart:hover {
    box-shadow: 2px 2px 5px 2px blue;
}

.question:active,
.question:focus,
.question:hover {
    box-shadow: 2px 2px 5px 2px red;
}

.background-change {
    background-color: lightgray;
}

.my-question {
    font-weight: 900;
    padding: 1% 2%
}

.hide {
    display: none !important;
}

.show {
    display: inline-block;
}



footer {
    padding: 0 2.5%;
    margin-bottom: 5%;
}

.question {
    box-shadow: 0 0 20px 5px rgb(255, 0, 0, .8);
}

.mdtxt {
    /* font-size: .75rem !important; */
}



@media screen and (max-width: 909px) {
    .steps-container > .step{
        display: flex;
    }
    .steps-container>.step>.step-txt,
    .steps-container>.step>.step-img,
    .steps-container>.step>.step-vid {
        /* background-color: blue; */
        border: 2px dashed white;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        /* padding: 1% 2.5%; */
        /* margin: 1% 2.5%; */
        width: 50%;
        flex-basis: 50% !important;
        border: 1px solid orange;
    }
    .step-txt > p {
        width: 100%;
        white-space: wrap;
        overflow: scroll;
        font-size: .8rem;
    }
    .step-txt > .code-container {
        margin: 0 0 !important;
        padding: 0 0 !important;
        width: 100%;
    }
    .step-txt > .code-container > .copy-code{
        /* margin: 0 0 !important; */
        padding: 0 0 !important;
        font-size: .8rem;
    }

        
}