* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0;
    padding: 0;
}


.part {
    /* border: 1px solid black; */
    margin: 2% 2.5%;
    display: flex;
    flex-direction: column;
}

.steps-container {
    display: flex;
    flex-direction: column;
    border: 1px solid blue;
}

.steps-container>.step-col>.step-img>img {
    max-width: 350px;
    /* border: ; */
}

.steps-container>.step-col {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1% 0;
}

.step-col>.step-txt {
    border: 1px solid black;
    padding: 1.5%;
    margin: 1.5% 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img-2-container {
    display: flex;
    /* padding-left: 5%; */
    justify-content: center;
}

.img-2-container>.step-img>img {
    width: 80%;
}
.step-img > img {

    /* max-height: 350px !important; */
}


.part>.steps-container>.step {
    /* border: 1px solid blue; */
    display: flex;
    justify-self: space-around;
}

.part>.steps-container>.step>.step-txt {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: flex;
    flex-direction: column;


}

.part>.steps-container>.step>.step-txt>h3 {
    align-self: flex-start;
}

.part>.steps-container>.step>.step-txt,
.part>.steps-container>.step>.step-img,
.part>.steps-container>.step>.step-vid {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1% 2.5%;
    margin: 1% 2.5%;
    flex-basis: 45%;
    border: 1px solid orange;
}

.part>.steps-container>.step>.step-img>img {
    border: 1px solid black;
}
.part>.steps-container>.step>.step-vid>video,
.part>.steps-container>.step>.step-img>img {
    width: 100%;
    max-width: 500px;
    max-height: 490px;
}


img:active,
img:focus,
img:hover,
.step-txt:active,
.step-txt:focus,
.step-txt:hover,
.question-txt:active,
.question-txt:focus,
.question-txt:hover,
.dropPart:active,
.dropPart:focus,
.dropPart:hover {
    box-shadow: 2px 2px 5px 2px blue;
}

.question:active,
.question:focus,
.question:hover {
    box-shadow: 2px 2px 5px 2px red;
}

.background-change {
    background-color: lightgray;
}

.my-question {
    font-weight: 900;
    padding: 1% 2%
}

.hide {
    display: none !important;
}

.show {
    display: inline-block;
}



footer {
    padding: 0 2.5%;
    margin-bottom: 5%;
}

.question {
    box-shadow: 0 0 20px 5px rgb(255, 0, 0, .8);
}

.mdtxt {
    font-size: .75rem !important;
}

.copy-code.full-width {
    width: 100% !important;
}