<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>iframe-index-header</title>
    <!-- Place style for this page here for now -->
    <style>
        body{
            padding: 0 5%
        }
        .step {
            display: flex;
            width: 100%;
            border: 2px solid magenta;
            justify-content: space-around;
        }
        img {
            max-height: 120px;

        }
    </style>
</head>
<body>
    <h1>iframe-index-header-</h1>
    <div class="step">
        <div tabindex="1" class="step-txt">
            <h4>01</h4>
            <p>
                Place Video in right to explain shortcuts
            </p>
        </div>
        <div class="step-img">
            <img src="../../../images/airplanSpaceSun.jpg" alt="placeholder image">
        </div>
    </div>
    
</body>
</html>