<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>sideBar-temp</title>
    <script src="../../js/homeLinkFocus.js" defer></script>
    <script src="../../js/letterFocus.js" defer></script>
    <link rel="stylesheet" href="../../../../../css/resource-header-temp.css">
    <link rel="stylesheet" href="css/sideBar-temp.css">
    <link rel="stylesheet" href="../../css/freeCodeCamp.css">
    <link rel="stylesheet" href="css/parts-steps-temp.css">
    <link rel="stylesheet" href="css/imgAnimate-v2.css">
    <link rel="stylesheet" href="css/copy-code.css">
    
    <script type="module" src="js/toggleBars.js" defer></script>
    
    <script type="module" src="js/sectionFocusLessonLoad.js" defer></script>
    <script type="module" src="js/lessonFocus.js" defer></script>
</head>
<body>
    <a tabindex="1" id="homelink" href="../basicPages-templates.htm">home-basicPages-templates</a>
    <hr>
    <code>&lt;header></code>
    <header>
        <div class="page-logo">
            <img src="../../../images/beachSet.jpg">
        </div>
        <div class="page-title">
            <h1>Title (sideBar-temp) </h1>
        </div>
        <div class="page-subtitle">
            <h2>Subtitle</h2>
        </div>
    </header>
    <main class="main">
        <nav tabindex="1" id="navMain" class="nav-main">
            <p>
                This <code>&lt;nav></code> bar allows the user to toggle the <code>&lt;aside</code> bar containing sections,
                located
                in <code>&lt;main></code> with the <code>&lt;div class="target-div-container"></code>
            </p>
        </nav>
        <div id="" class="main-container">
            <aside tabindex="1" id="asideMain" class="aside-main">
                <code>&lt;main></code>
                <code>&emsp;&emsp;&lt;aside class="aside-main"></code>
                <!-- Section 1 -->
                <section class="section">
                    <a tabindex="1" id="section01" href="#" class="dropSection">
                        <h4>Section 1</h4>
                    </a>
                    <ul>
                        <li><a href="sections/01/01-01/01-01.htm">1. section-lesson</a></li>
                        <li><a href="sections/01/01-02/01-02-02/01-02-02.htm" class="dropSubSection">2. section-lesson</a>
                            <ul>
                                <li><a href="sections/01/01-02/01-02-01/01-02-01.htm">sub-section-lesson</a></li>
                                <li><a href="sections/01/01-02/01-02-02/01-02-02.htm">sub-section-lesson</a></li>
                                <li><a href="sections/01/01-02/01-02-03/01-02-03.htm">sub-section-lesson</a></li>
                            </ul>
                        </li>
                        <li><a href="sections/01/01-03/01-03.htm">3. section-lesson</a></li>
                    </ul>
                </section>
                <!-- Section 2 -->
                <section class="section">
                    <a tabindex="1" href="#" class="dropSection">
                        <h4>Section 2</h4>
                    </a>
                    <ul>
                        <li><a href="#" class="sub-section">sub-section</a></li>
                        <li><a href="#" class="sub-section">sub-section</a></li>
                        <li><a href="#" class="sub-section">sub-section</a></li>
                    </ul>
                </section>
                <!-- Section 3 -->
                <section class="section">
                    <a tabindex="1" href="#" class="dropSection">
                        <h4>Section 3</h4>
                    </a>
                    <ul>
                        <li><a href="#" class="sub-section">1. sub-section</a></li>
                        <li><a href="#" class="sub-section">2. sub-section</a></li>
                        <li><a href="#" class="sub-section">3. sub-section</a></li>
                    </ul>
                </section>
            </aside>
            <div tabindex="1" id="mainTargetDivContainer" id="" class="target-div-container">
                <code>&lt;div class="target-div-container"></code>

            </div>
        </div>
    </main>

    
</body>
</html>