<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>basicPages-templates</title>
    <link rel="stylesheet" href="../../css/doc-topic-v3.css">
    <link rel="stylesheet" href="../../css/resource-header-temp.css">
    <script src="../../js/letterFocus.js" defer></script>
    <script type="" src="../../js/dropResource-docs-v3.js" defer></script>
    <style>
        .sub-resource {
            min-width: 350px;
            min-height: 300px;                
        }
        .sub-resource > img {
            min-height: 250px;                
        }
    </style>
</head>

<body>
    <header>
        <a tabindex="1" id="homeLink" href="../templates-index.html">&larr;home-templates</a>
        <div class="page-title">
            <h1>Basic Pages- templates - webpages</h1>
            
        </div>
        <article class="page-logo">
            <h2>Tyler Tomani</h2>
        </article>
    </header>
    <main>
        <div class="resources-container">
            <!-- Documentation Webpages -->
            <div class="resource-container">
                <header tabindex="1" id="documentationWebpages" class="resource">
                    <h3>Documentation Webpages</h3>
                </header>
                <div class="sub-resources-container  show">
                    <h4 class="sub-resource-container">
                        <a tabindex="1" id="partAndStepDoc" class="sub-resource subject" href="partAndStepDrops/partAndStepDrops.htm"> Part & Step drop downs - Documentation
                            <sup>Part & sub parts</sup>
                            <img src="partAndStepDrops/partAndStepDrops.png"../../images/ts-icon.png"alt="">
                        </a>
                    </h4>
                    <h4 class="sub-resource-container">
                        <a tabindex="1" id="chatGpt" class="sub-resource subject" href="chatGptQuestAnswerDrop/chatGptQuestAnswerDrop.htm">chatgpt question/answer drop downs - Documentation
                            <img src="chatGptQuestAnswerDrop/chatGptQuestAnswerDrop.png"alt="">
                        </a>
                    </h4>
                    <h4 class="sub-resource-container">
                        <a tabindex="1" id="sideBarTemp" class="sub-resource subject" href="sideBar-temp/sideBar-temp.htm">Side Bar Template
                            <img src="sideBar-temp/sideBar-temp.png">
                        </a>
                    </h4>
                </div>
                
            </div>
            
        </div>

        
    </main>
</body>

</html>