<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>templates</title>
    <link rel="stylesheet" href="../css/index.css">
    <script src="../js/letterFocus.js" defer></script>
    <script src="../js/loadTopic.js" defer></script>
    <script src="../js/slideShow.js" defer></script>
        <style>
            .page {
                margin-left: 8% !important;
            }
            main {height: 100vh;}
        </style>
</head>
<body>
    <header>
        <h1>templates</h1>
        <nav>
            <ul>
                <li><a tabindex="1" id="home" href="../index.html">home</a></li>
                <li><a tabindex="1" id="websitesAndAppsHome" href="../websitesAndApps/websitesAndApps.html">websites, projects, & apps</a>
                <li><a  tabindex="1" id="docs"  href="../documentation/documentation.html">documentation</a></li>
                <li><a tabindex="1" id="templates" class="selectedPage" href="#">templates</a></li>
                <!-- <li><a tabindex="1" id="about" href="#">about</a></li> -->
                <li><a tabindex="1" id="c" href="#zContact">contact</a></li>
            </ul>
        </nav>
    </header>
    <main>
            <div id="templates" class="page">
                <h2>Templates</h2>
                <div class="topics-container">
                    <!-- Basic Pages -->
                    <h3>
                        <a tabindex="1" id="menus" class="topic" href="#
                                    ">Basic Pages
                        </a>
                    </h3>
                    <!-- menus & side bars -->
                    <h3>
                        <a tabindex="1" id="menus" class="topic" href="#
                                    ">menus & side bars
                        </a>
                    </h3>
                    <!-- navigate letters -->
                    <h3>
                        <a tabindex="1" id="navigateLetter" class="topic" href="#
                                    ">navigate letters
                        </a>
                    </h3>
                </div>
            </div>
    </main>
        <footer id="contactDetails">
            <h3 tabindex="1" id="zContact">contact</h3>
            <ul>
                <li><a tabindex="1" class="copy-code" href="#">ttomani@gmail.com</a> (make this so it copies to clipboard)
                    <br>
                    cmd + c = copy to clipboard
                </li>
            </ul>
        </footer>
</body>
</html>